---
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body id="main" class="topic">
    {% include topnav.html %}
</div>
    <div class="landingpage topicdetail">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-conatiner">
                            {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
</html>
